=render 'posts/header'

.main-container
  .slick-content
    .article-rank
      ランキング
    .article-new
      新着記事
  .right-content
    .register-content
      .new-register
        = link_to "新規登録", new_user_registration_path, class: "content-register"
      .log-in
        = link_to "ログイン", new_user_session_path, class: "content-login"
    .advertising
      広告

=render 'posts/footer'