=render 'posts/header'

.main-container
  .slick-content
    .article-rank
      ランキング
    .article-new
      新着記事
  .right-content
    - if user_signed_in?
      .right-content__signed-in
        .mypage
          マイページ
        - @posts.each do |post|
          .postlist
            .side-image
            .mypost
              = link_to post.title, post_path(post.id), class: "mypost--title"
    - else
      .right-content__signed-out
        .register-content
          .register-content__new
            = link_to "新規登録", new_user_registration_path, class: "content-register"
          .register-content__log-in
            = link_to "ログイン", new_user_session_path, class: "content-login"
        .advertising
          ユーザー紹介
