.main-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: green;
  .title {

  }
  .table-content {
    display: flex;
    justify-content: space-between;
    width: 30%;
    .header-top {
    }
    .header-article {

    }
    .header-rank {

    }
  }
  .register {
    display: flex;
    justify-content: space-between;
    width: 30%;
    .new-post {

    }
    .new-register {

    }
    .log-in {

    }
    .search {
      .search-form {
        position: relative;
        .search-field {
        }
        .icon-search {
          position: absolute;
          right: 0px;
        }
      }
    }
  }
}