.post-container {
  background-color: white;
  height: calc(100vh - 80px);
  .post-content {
    height: calc(100vh - 80px);
    padding: 50px;
    width: 70%;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    border: solid #EEEEEE;
    border-width:0px 2px 0px 2px;
    &__top {
      font-size: 25px;
      font-weight: 400;
    }
    &__main {
      &__form {
        &__title {
          .post__form__title {
            width: 80%;
            padding: 10px;
          }
        }
        &__text {
          margin-top: 20px;
          .post__form__text {
            width: 80%;
            padding: 10px;
            height: 500px;
          }
        }
        &__btn {
          margin-top: 20px;
          .post__form__btn {
            
          }
        }
      }
    }
  }
}