.profile-container {
  height: calc(100vh - 80px);;
  background-color: white;
  padding: 40px;
  .profile-content {
    width: 70%;
    height: 90%;
    background-color: #D8DCE9;
    margin: 0 auto;
    text-align: center;
    &__top {
      font-size: 25px;
      height: 10%;
    }
    &__edit {
      height: 90%;
      &__image {

        .file {
          display: none;
        }
        .edit-icon {

        }
      }
      &__nickname {
        margin-top: 10px;
        height: 40px;
      }
      &__email {
        margin-top: 10px;
        height: 40px;
      }
      &__password {
        margin-top: 10px;
        height: 40px;
      }
      &__password-confirmation {
        margin-top: 10px;
        height: 40px;
      }
      &__bottom {
        margin-top: 10px;
        .edit-send {
        }
      }
    }
  }
}
.edit {
  height: 40px;
  font-size: 17px;
  padding: 10px;
}