* {
  box-sizing: border-box;
}


.main-container {
  background-color: blue;
  height: calc(100vh - 80px);
  padding: 50px;
  display: flex;
  .slick-content {
    width: 60%;
    .article-rank {
      height: 45%;
      background-color: white;
    }
    .article-new {
      height: 45%;
      background-color: cyan;
      margin-top: 65px;
    }
  }
  .right-content {
    margin-left: 80px;
    width: 30%;
    .register-content {
      height: 35%;
      
      background-color: darkorange;
    }
    .advertising {
      margin-top: 65px;
      height: 55%;
      background-color: darkorchid;
    }
  }
}