* {
  box-sizing: border-box;
  font-family: 'Arial Rounded MT Bold','Calibri',sans-serif;
}


.main-container {
  background-color: white;
  height: calc(100vh - 80px);
  padding: 50px;
  display: flex;
  background-color: white;
  // background-image: url(417318.jpg);
  .slick-content {
    width: 70%;
    display: flex;
    .article-rank {
      width: 45%;
      background-color: #D8DCE9;
      background-image: url(75386336.jpg);
      background-size: contain;
      text-align: center;
      padding: 10px;
      overflow: auto;
      border-radius: 1%;
      .rank-title {
        height: 35px;
      }
    }
    .article-new {
      width: 45%;
      margin-left: 50px;
      background-image: url(75386336.jpg);
      background-size: contain;
      text-align: center;
      padding: 10px;
      overflow: auto;
      border-radius: 1%;
      .new-title {
        height: 35px;
      }
    }
  }
  .right-content {
    margin-left: 50px;
    width: 30%;
    .right-content__signed-in {
      background-image: url(75386336.jpg);
      background-size: contain;
      padding: 10px;
      overflow: auto;
      border-radius: 1%;
      text-align: center;
      .mypage {
        height: 35px;
        .mypage--link {
          text-decoration: none;
          color: black;
        }
      }
    }
    .right-content__signed-out {
      height: 100%;
      background-image: url(75386336.jpg);
      background-size: contain;
      padding: 10px;
      overflow: auto;
      border-radius: 1%;
      text-align: center;
      .user-list {
        margin-top: 10px;
        .user-line {
          display: flex;
          border-bottom: 2px solid #f6f6f6;
          height: 40%;
          align-items: center;
          margin-top: 10px;
          .introduction-photo {
        
          }
          .introduction-nickname {
            margin-left: 30px;
            width: 70%;
            &--title {
              color: black;
              text-decoration: none;
              font-size: 25px;
              overflow-x: auto;
              white-space: nowrap;
              display: block;
            }
          }
        }
      }
    }
  }
}
.contents {
  display: flex;
  height: 35px;
  &__left {
    width: 10%;
  }
  &__center {
    width: 55%;
  }
  &__right {
    width: 35%;
  }
}

.postlist {
  display: flex;
  border-bottom: 1px solid #d4d2d2;
  align-items: center;
  height: 51px;
  line-height: 51px;
  .date {
    width: 10%;
  }
  .post {
    width: 55%;
    &--title {
      margin-left: 10px;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
      color: #0A0661;
      overflow-x: auto;
      white-space: nowrap;
      display: block;
    }
  }
  .nickname {
    width: 35%;
    &--user {
      margin-left: 10px;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
      color: #0A0661;
      overflow-x: auto;
      white-space: nowrap;
      display: block;
    }
  }
}

