.user-details-container {
  height: calc(100vh - 80px);;
  background-color: #FFFFAA;
  .user-details-content {
    height: 100%;
    display: flex;
    &__profile {
      width: 20%;
      height: 40%;
      background-color:#AAFFFF;
      text-align: center;
      margin: 20px 20px 0px 100px;
      &__image {
        margin-top: 30px;
      }
      &__name {
        margin-top: 10px;
      }
    }
    &__right {
      padding: 20px;
      width: 80%;
      height: 100%;
      &__top {
        height: 10%;
        display: flex;
        background-color: #EDFFBE;
        text-align: center;
        &__post {
          width: 25%;
          line-height: 72.69px;
          border: groove #8EB8FF;
          border-width: 2px 2px 0px 2px;

        }
        &__like {
          width: 25%;
          line-height: 72.69px;
          border: groove #8EB8FF;
          border-width: 2px 2px 0px 0px;
        }
        &__following {
          width: 25%;
          line-height: 72.69px;
          border: groove #8EB8FF;
          border-width: 2px 2px 0px 0px;
        }
        &__followers {
          width: 25%;
          line-height: 72.69px;
          border: groove #8EB8FF;
          border-width: 2px 2px 0px 0px;
        }
      }
      &__content {
        height: 90%;
        display: flex;

        &__post {
          width: 25%;
          overflow: auto;
          border: groove 2px #8EB8FF;
          padding: 20px;
          .postlist {
            display: flex;
            border-bottom: 2px solid #f6f6f6;
            
            .side-image {
              height: 40px;
              width: 40px;
              border: solid 1px;
              background-color: papayawhip;
              margin: 5px;
            }
            .mypost {
              height: 100%;
              width: 144px;
              &--title {
                height: 50px;
                width: 144px;
                font-size: 18px;
                font-weight: 400;
                line-height: 50px;
                text-decoration: none;
                color:black;
                overflow-x: auto;
                white-space: nowrap;
                display: block;
                margin-left: 20px;
              }
            }
          }
        }
        &__like {
          width: 25%;
          overflow: auto;
          border: groove #8EB8FF;
          border-width: 2px 2px 2px 0px;
          padding: 20px;
          .postlist {
            display: flex;
            border-bottom: 2px solid #f6f6f6;
            
            .side-image {
              height: 40px;
              width: 40px;
              border: solid 1px;
              background-color: papayawhip;
              margin: 5px;
            }
            .likepost {
              height: 100%;
              margin-left: 20px;
              width: 40%;
              &--title {
                height: 40px;
                width: 152.8px;
                font-size: 18px;
                font-weight: 400;
                line-height: 40px;
                text-decoration: none;
                color:black;
                overflow-x: auto;
                white-space: nowrap;
                display: block;
              }
            }
          }
        }
        &__following {
          width: 25%;
          border: groove #8EB8FF;
          border-width: 2px 2px 2px 0px;
          padding: 20px;
        }
        &__followers {
          width: 25%;
          border: groove #8EB8FF;
          border-width: 2px 2px 2px 0px;
          padding: 20px;
        }
      }
    }
  }
}