.user-details-container {
  height: calc(100vh - 80px);;
  background-color: white;
  .user-details-content {
    height: 100%;
    display: flex;
    &__profile {
      width: 20%;
      height: 40%;
      text-align: center;
      &__image {
        margin-top: 30px;
      }
      &__name {
        margin-top: 10px;
      }
      &__follow {

      }
      &__follow-count {
        display: flex;
        .followings {
        }
        .followers {

        }
      }
    }
    &__right {
      padding: 20px;
      width: 80%;
      height: 100%;
      &__top {
        height: 10%;
        background-color: white;
        display: flex;
        text-align: center;
        &__post {
          width: 25%;
          line-height: 72.69px;
          border: solid #EEEEEE;
          border-width: 2px 2px 2px 2px;
        }
        &__like {
          width: 25%;
          line-height: 72.69px;
          border: solid #EEEEEE;
          border-width: 2px 2px 2px 0px;
        }
        &__following {
          width: 25%;
          line-height: 72.69px;
          border: solid #EEEEEE;
          border-width: 2px 2px 2px 0px;
        }
        &__followers {
          width: 25%;
          line-height: 72.69px;
          border: solid #EEEEEE;
          border-width: 2px 2px 2px 0px;
        }
      }
      &__content {
        height: 90%;
        border: solid #EEEEEE;
        border-width: 0px 2px 2px 2px;
        padding: 20px;
        &__top {
          height: 10%;
          font-size: 25px;
          text-align: center;
        }
        &__center {
          height: 90%;
          margin-top: 20px;
          overflow: auto;
        }
        // &__post {
        //   width: 25%;
        //   overflow: auto;
        //   padding: 20px;
        // }
        // &__like {
        //   width: 25%;
        //   overflow: auto;
        //   border: solid #EEEEEE;
        //   border-width: 2px 2px 2px 0px;
        //   padding: 20px;
        // }
        // &__following {
        //   width: 25%;
        //   border: solid #EEEEEE;
        //   border-width: 2px 2px 2px 0px;
        //   padding: 20px;
        // }
        // &__followers {
        //   width: 25%;
        //   border: solid #EEEEEE;
        //   border-width: 2px 2px 2px 0px;
        //   padding: 20px;
        // }
      }
    }
  }
}

.btn-default {
  height: 100%;
  text-decoration: none;
  color: black;
  // display: flex;
  // .title {
  //   margin-left: 89px;
  // }
  // .count {
  //   margin-left: 10px;
  //   background-color: #EEEEEE;
  //   height: 20px;
  // }
}

.show-postlist {
  display: flex;
  border-bottom: 2px solid #f6f6f6;
  height: 30%;
  align-items: center;
  .showside-photo {
    margin: 18.5px;
  }
  .showside-nickname {
    text-align: center;
    &--title {
      text-decoration: none;
      color:black;
    }
  }
  .showpost {
    width: 60%;
    height: 157px;
    &--title {
      width: 100%;
      font-size: 18px;
      font-weight: 400;
      line-height: 157px;
      text-decoration: none;
      color:black;
      overflow-x: auto;
      white-space: nowrap;
      display: block;
    }
  }
  .showlike {
    margin-left: 10px;
    &__count {
    }
    // &__form {
      
    // }
  }
}
.show-followings {
  display: flex;
  border-bottom: 2px solid #f6f6f6;
  height: 30%;
  align-items: center;
  .followings-photo {

  }
  .followings-name {
    margin-left: 20px;
    &__title {
      color: black;
      text-decoration: none;
    }
  }
  .followings-button {

  }
}

h2 {
  border-bottom: 2px solid #EEEEEE;
}